.UserProfileIssuesStatsElement {
    align-self: flex-start;
}

.UserProfileIssuesStatsElementTitle {
    font-size: 1.2em;
    width: auto;
    font-weight: bold;
    color: #b1b1b1;
}

.UserProfileIssuesStatsElementValue{
    color: #8716E8;
    font-weight: bold;
    font-size: 1.5em;
}