.LeaderboardMemberContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 15px 8px 15px;
    margin: 10px 0px 10px 0;
    outline: black solid 1px;
    border-radius: 10px;
    align-items: center;
}

.LeaderboardMemberContainer:hover {
    background-color: #480f7b;
    transform: scale(1.05);
}

.LeaderboardMemberInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-start;
    flex : 1;
}

.LeaderboardMemberInfoElement {
    margin-right: 20px;
}

.LeaderboardMemberInfoMember {
    flex : 1;
}

.LeaderboardMemberInfoProfilePhoto {
    height: 50px;
    width: 50x;
    margin-right: 20px;
    margin-left: 20px;
}