.ModalContainerOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000092;
    z-index: 1000;
}

.Modal {
    display: flex;
    flex-direction: column;
    background-color: #1C0333;
    padding: 10px 20px 10px 20px;
    width: 60%;
    height: 80%;
    /* rgb(red, green, blue, opacity); */
    box-shadow: 6px -6px 0px 0px rgb(102, 29, 170);
    overflow-y: auto;
    overflow: hidden;

}

.ModalTopBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.CloseModal {
    color: #ffffff;
    font-weight: bold;
}

/* USER PROFILE ELEMENTS */

.UserProfileContainer {
    display: flex;
    flex-direction: row;
}

.UserProfileFirstSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.UserProfileIssues {
    display: flex;
    flex-direction: column;
}

.UserProfileRecentIssues {

}

.UserProfileProfilePhoto{
    height: 200px;
    width: 200px;
    align-self: center;
}

.UserProfileUsername {
    font-size: 20px;
    color: white;
    font-weight: 700;
    align-self: center;
}

.UserProfileRole {
    background-color: #9B3BF2;
    padding: 3px 8px 3px 8px;
    border-radius: 15px;
    text-align: center;
    align-self: center;
}


.UserProfileStats {
    display: flex;
    flex-direction: row;
}

.UserProfileIssuesStatsSection {
    flex : 1;
    display: flex;
    flex-direction: column;
}

.UserProfileIssuesStatsElement {
    align-self: flex-start;
}

.UserProfileIssuesStatsElementTitle {
    font-size: 0.8em;
    font-weight: bold;
    color: #D1D5DB;
}

.UserProfileSecondSection {
    flex : 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}