.ModalContainerOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000092;
    z-index: 1000;
}

.Modal {
    display: flex;
    flex-direction: column;
    background-color: #1C0333;
    width: 60%;
    height: 80%;
    border-radius: 15px;
    padding: 20px;
}

.ModalTopBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.CloseModal {
    color: #ffffff;
    font-weight: bold;
}

/* USER PROFILE ELEMENTS */

.UserProfileContainer {
    display: flex;
    flex-direction: row;
}

.UserProfileFirstSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UserProfileRecentIssues {

}

.UserProfileProfilePhoto{
    height: 200px;
    width: 200px;
}

.UserProfileUsername {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.UserProfileRole {
    background-color: #9B3BF2;
    padding: 3px 8px 3px 8px;
    border-radius: 15px;
    text-align: center;
}

.UserProfileSecondSection {
    display: flex;
    flex-direction: column;
    flex : 1;
}

.UserProfileStats {
    display: flex;
    flex-direction: row;
}

.UserProfileIssuesStatsSection {
    flex : 1;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.UserProfileIssuesStatsElement {
    align-self: flex-start;
}

.UserProfileIssuesStatsElementTitle {
    font-size: .875rem;
}

.UserProfileSecondSection {
    flex: 3;
}