.ModalContainerOverlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000092;
    z-index: 1000;
}

.Modal {
    display: flex;
    flex-direction: column;
    background-color: #1C0333;
    padding: 10px 40px 50px 40px;
    width: 50%;
    height: 80%;
    /* rgb(red, green, blue, opacity); */
    box-shadow: 10px -10px 0px 0px rgb(102, 29, 170);
    overflow-y: auto;

}

/* REMOVING SCROLLBAR */
.Modal::-webkit-scrollbar {
    display: none;
}

.ModalTopBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.CloseModal {
    color: #ffffff;
    font-weight: bold;
}

/* USER PROFILE ELEMENTS */

.UserProfileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.UserProfileFirstSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.UserProfileIssues {
    display: flex;
    flex-direction: column;
    color: #b1b1b1;
    font-weight: bold;
    align-items: center;
}

.UserProfileRecentIssues {
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}

.UserProfileProfilePhoto{
    height: 200px;
    width: 200px;
    align-self: center;
}

.UserProfileUsername {
    font-size: 20px;
    color: white;
    font-weight: 700;
    align-self: center;
}

.UserProfileRole {
    background-color: #9B3BF2;
    padding: 3px 8px 3px 8px;
    border-radius: 15px;
    text-align: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.UserProfileStats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.UserProfileIssuesStatsSection {
    flex : 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 80px 10px 80px;
}

.UserProfileSecondSection {
    flex : 2.5;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.UserProfileAchievementsTitle {
    margin-bottom: 10px;
}

.UserProfileAchievementsList {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
}

.UserProfileAchievementsListImage {
    margin: 0px 10px 0px 10px;
}
