.UserProfileRewardsTitle {
    font-size: 1em;
    width: auto;
    font-weight: bold;
    color: #b1b1b1;
    margin : 10px 0px 10px 0px;
}

.UserProfileRewardsValue {
    color: #8716E8;
    font-weight: bold;
    font-size: 1.5em;
}