.LeaderboardTopBarMemberContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 15px 8px 15px;
    margin: 10px 0px 10px 0;
    align-items: center;
}


.LeaderboardTopBarMemberInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-start;
    flex : 1;
}

.LeaderboardTopBarMemberInfoElement {
}

.LeaderboardTopBarMemberInfoMember {
    flex : 1;
}
